.category {

    &__main {
        width: calc(100% / 3);
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        &_stars {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: absolute;
            bottom: calc(#{$paddingBase} * 3);
        }

        &_value {
            display: flex;
            flex-direction: row;
            margin: 0.5rem 0 0.3rem 1rem;
            font-size: $font-size-h5;
            color: $secondary;

            span {
                margin-right: 0.5rem;
            }
        }

        &_image {
            width: 100%;
            height: 40vmin;
            display: block;
            position: relative;
            background: url("../images/kraevedia_catBack.png") 50% 0 no-repeat;
            background-size: auto 100%;
            transition: all $base-duration;
        }

        &_title {
            width: calc(100% - (#{$paddingBase} * 8));
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            color: $secondary;
            text-align: center;
            padding: calc(#{$paddingBase} * 4) calc(#{$paddingBase} * 4) 0;

            p {
                font-size: $font-size-base;
            }
        }

        &:hover {

            .category__main_image {
                transform: scale(0.98);
            }
        }

        &--hidden {
            cursor: default;
            user-select: none;
            pointer-events: none;

            .category__main_image--choice {
                background: url("../images/cp_catChoiceEmpty.png") 50% 0 no-repeat;
            }

            .category__main_image--prepare {
                background: url("../images/cp_catPrepareEmpty.png") 50% 0 no-repeat;
            }

            .category__main_image--flight {
                background: url("../images/cp_catFlightEmpty.png") 50% 0 no-repeat;
            }

            &:after {
                content: "";
                width: 15vmin;
                height: 15vmin;
                display: block;
                position: absolute;
                top: 47%;
                transform: translateY(-50%);
                background: url("../images/cp_award_2.png") 50% 0 no-repeat;
                background-size: auto 100%;
                z-index: 2;
            }
        }
    }

    &__element {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        padding: 0.3rem;
        transition: transform $base-duration;

        &_stars {
            min-height: 2rem;
            list-style: none;
            display: flex;
            flex-direction: row;
            position: absolute;
            margin-left: 0;
            bottom: calc(#{$paddingBase} * 1.5);
            z-index: 5;

            li {
                width: 2vmin;
                height: 2vmin;
                margin-right: 0.5rem;
                background-image: url("../images/cp_stars_empty.png");
                background-position: 0 0;
                background-size: auto 100%;

                &.fill {
                    background-image: url("../images/cp_stars_fill.png");
                }

                picture {
                    width: 100%;
                    height: 100%;
                    display: block;

                    img {
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        object-fit: cover;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &_image {
            width: auto;
            height: 25vmin;
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-position: center;
                object-fit: cover;
            }
        }

        &--hidden {
            cursor: default;
            user-select: none;
            pointer-events: none;

            &:after {
                content: "";
                width: 4vmin;
                height: 4vmin;
                display: block;
                position: absolute;
                top: 47%;
                transform: translateY(-50%);
                background: url("../images/cp_lock.png") 50% 0 no-repeat;
                background-size: auto 100%;
                z-index: 2;
            }

            picture {
                opacity: 0.5;
            }

            .category__element_title {
                display: none;
                visibility: hidden;
            }
        }

        &--lock {
            cursor: default;
            user-select: none;
            pointer-events: none;

            &:after {
                content: "";
                width: 4vmin;
                height: 4vmin;
                display: block;
                position: absolute;
                top: 47%;
                transform: translateY(-50%);
                background: url("../images/cp_ok_3.png") 50% 0 no-repeat;
                background-size: auto 100%;
                z-index: 2;
            }

            .category__element_title {
                display: none;
                visibility: hidden;
            }

            //.category__element_image {
            //    opacity: 0.5;
            //}

        }

        &_title {
            width: calc(100% - (#{$paddingBase} * 4));
            position: absolute;
            color: $secondary;
            font-size: $font-size-large;
            text-align: center;
            padding: 0 calc(#{$paddingBase} * 2);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        &:hover {
            transform: scale(0.98);
        }
    }

    @include grid-media($Small) {

        &__main {
            width: 100%;
            //height: calc(100vh / 3);
            //margin: 0 0.5rem;

            &_stars {
                align-items: center;
                bottom: calc(#{$paddingBase} * 5);
            }

            &_image {
                width: 100%;
                height: 100vmin;
                background-size: 100% auto;

                &--choice {
                    background-size: 100%;
                }

                &--prepare {
                    background-size: 100%;
                }

                &--flight {
                    background-size: 100%;
                }

                img {
                    width: 100%;
                }
            }

            &--hidden {

                .category__main_image--choice {
                    background-size: 100%;
                }

                .category__main_image--prepare {
                    background-size: 100%;
                }

                .category__main_image--flight {
                    background-size: 100%;
                }

                &:after {
                    top: 50%;
                    transform: translateY(0);
                }
            }
        }

        &__element {

            &_image {
                height: 80vmin;
            }

            &_title {
                width: calc(80% - (#{$paddingBase} * 4));
            }

            &_stars {
                margin-bottom: 1rem;

                li {
                    width: 6vmin;
                    height: 6vmin;
                }
            }

            &--hidden,
            &--lock {

                &:after {
                    width: 13vmin;
                    height: 13vmin;
                }
            }
        }
    }
}