
@font-face {
    font-family:"Art-Nouveau Initial";
    src:url("Art_Nouveau.woff2") format("woff2"),url("Art_Nouveau.woff") format("woff"),url("Art_Nouveau.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        