
@font-face {
    font-family:"Modernist One";
    src:url("ModernistOne.woff2") format("woff2"),url("ModernistOne.woff") format("woff"),url("ModernistOne.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        